header {
    background-color: #FFC300;
    margin-left: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-right: 10px;
  }
body{

    background-color: #B2BABB;
}


img{
    display: inline;
    width: 450px;
    height: 450px;
    background-color: #2E86C1;
    border-color: #D4AF37;
    border-style: hidden;
    margin-left: 30px;
    
}
div{
    margin-top: 20px;
}